[Unit]
Description=dsnet motd stat service
After=sshd.service
After=getty.target

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/motd_gen
User=motd
Group=motd
ExecStart=/usr/bin/motd_stat.py
MemoryHigh=100M
CPUQuota=20%

[Install]
WantedBy=multi-user.target
